html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: rgb(249, 186, 119);
  color: rgb(0, 0, 0);
}
.background{
  background-position: center;
  background-size: cover;
  height: 50vh;
  background-image: url(https://www.pidgi.net/wiki/images/6/62/Illustration_-_Super_Smash_Bros_Ultimate.jpg);
}
#head{
  display: block;
  font-size: 2rem;
  text-align: center;
  background-color: aliceblue;
  border: 5px solid rgba(126, 227, 200, 0.961);
  padding: 5px;
  width: 30%;
  color: black;
  margin: auto;
  border-radius: 5px;
}
#head2{
  display: block;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  background-color: aliceblue;
  border: 5px solid rgba(126, 227, 200, 0.961);
  padding: 5px;
  width: 45%;
  color: black;
  margin: 335px auto
}
.parent{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 75px;
}
.child{
  width: 25%;
  height: auto;
  padding: 5px 5px 20px 5px;
  background-color: rgb(56, 114, 221);
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
}
.parent2{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.child2{
  text-align: center;
  width: 25%;
  height: auto;
  padding: 5px;
  background-color: rgb(56, 114, 221);
  border-radius: 5px;
  margin-top: -20px;
}