html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%%;
  background-color: coral;
  color: teal;
}
.header {
  text-align: center;
  font-size: 50px;
  border: 5px cornflowerblue;
}

.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  border: 5px
}

.child {
  font-size: 20px;
  width: 28%;
width: 50vh;
height: 50vh;
display: block;
text-align: center;
margin: 10px auto;
}
