html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%%;
  background-color: coral;
  color: teal;
}

.parent {
  font-size: 30px;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: row;
  text-align: center;
  border: 5px
}

.child1 {
  font-size: 20px;
  width: 1700px;
  height: 150px;
  display: block;
  text-align: center;
  margin: 10px auto;
}
.child2 {
  font-size: 20px;
  width: 1700px;
  height: 100px;
  display: block;
  text-align: center;
  margin: 10px auto;
}
.child3 {
  font-size: 20px;
  width: 1700px;
  height: 150px;
  display: block;
  text-align: center;
  margin: 10px auto;
}
#img {
width: 20vh;
height: 10vh;
}